<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlfund.headstone.core.mapper.FundBalanceMapper">

  <select id="fundBalanceLineForUpdate" resultType="double">
    select balance
    from fundbalance
    where tradeacco = #{tradeAcco}
    and fundid = #{fundId}
    for update
  </select>

  <select id="oqpGetAvaliableBalance" parameterType="map" statementType="CALLABLE">
    {
      call OQP_GET_AVALIABLE_BALANCE
      (
        #{tradeAcco, jdbcType=VARCHAR, mode=IN},
        #{fundId, jdbcType=VARCHAR, mode=IN},
        
        #{balance, jdbcType=NUMERIC, mode=OUT},
        #{available, jdbcType=NUMERIC, mode=OUT},
        #{frozen, jdbcType=NUMERIC, mode=OUT},
        #{errCod, jdbcType=VARCHAR, mode=OUT},
        #{errMsg, jdbcType=VARCHAR, mode=OUT}
      )
    }
  </select>
  
  <select id="getYHHQBAvailableBalance" resultType="double">
    select coalesce(sum(coalesce(t1.balance, 0.00) - coalesce(t1.abnmfrozen, 0.00) - coalesce(t2.changequty, 0.00)), 0.00)
		from fundbalance t1 left join tradequtychg t2 on t1.tradeacco = t2.tradeacco and t1.fundid = t2.fundid
		where t1.fundid in ('000657','000658','000659','000660','000661','000662')
		and t1.tradeacco = #{tradeAcco}
  </select>

</mapper>