<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlfund.headstone.core.mapper.TradeAccoInfoMapper">

  <insert id="getTradeAccoInfoByTradeAcco" resultType="TradeAccoInfo">
    SELECT tradeacco, custno, mainflag, tradeaccost, opendt, bankno, bankacco, 
       bankaccodisplay, bankidtp, bankidno, updatetimestamp, bankproexists, 
       protocol_no, input_acct_no, subbankno, netpoint, capitalmode, 
       closedt, mobileno, partnerno, accounttype, pzbid
    FROM tradeaccoinfo
    WHERE tradeacco = #{tradeAcco}
  </insert>

</mapper>