<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlfund.headstone.core.mapper.TradeRequestMapper">

  <insert id="saveTradeRequest" parameterType="TradeRequest" statementType="CALLABLE">
    INSERT INTO traderequest(
            serialno, 
            custno, 
            tradeacco, 
            apkind, 
            fundid, 
            subquty, 
            subamt, 
            apdt, 
            aptm, 
            remark, 
            updatetimestamp, 
            workdate, 
            spanflag, 
            cashfrom, 
            subramt)
    VALUES (#{tradeRequest.serialNo}, 
            #{tradeRequest.custNo}, 
            #{tradeRequest.tradeAcco}, 
            #{tradeRequest.apKind}, 
            #{tradeRequest.fundId}, 
            #{tradeRequest.subQuty}, 
            #{tradeRequest.subAmt}, 
            #{tradeRequest.apDt}, 
            #{tradeRequest.remark}, 
            #{tradeRequest.updateTimeStamp}, 
            #{tradeRequest.workDate}, 
            #{tradeRequest.spanFlag}, 
            #{tradeRequest.cashFrom}, 
            #{tradeRequest.subrAmt});
  </insert>
  
  <select id="getTradeRequestBySerialNo" resultType="TradeRequest">
    SELECT
      serialno,
      custno,
      tradeacco,
      apkind,
      fundid,
      subquty,
      subamt,
      apdt,
      aptm,
      remark,
      updatetimestamp,
      workdate,
      spanflag,
      cashfrom,
      subramt
    FROM
      traderequest
    WHERE
      serialno = #{serialNo}
  </select>

</mapper>