<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlfund.headstone.core.mapper.TradeRequestStatusMapper">

  <insert id="saveTradeRequestStatus" parameterType="TradeRequestStatus" statementType="CALLABLE">
    INSERT INTO traderequest_status(
            serialno, 
            priorno, 
            referno, 
            seqno, 
            custno, 
            applyst, 
            transst, 
            payst, 
            summary, 
            modifyflag, 
            paydt, 
            paytm, 
            updatetimestamp)
    VALUES (#{tradeRequestStatus.serialNo}, 
            #{tradeRequestStatus.priorNo}, 
            #{tradeRequestStatus.referNo}, 
            #{tradeRequestStatus.seqNo}, 
            #{tradeRequestStatus.custNo}, 
            #{tradeRequestStatus.applySt}, 
            #{tradeRequestStatus.transSt}, 
            #{tradeRequestStatus.paySt}, 
            #{tradeRequestStatus.summary}, 
            #{tradeRequestStatus.modifyFlag}, 
            #{tradeRequestStatus.payDt}, 
            #{tradeRequestStatus.payTm}, 
            #{tradeRequestStatus.updateTimeStamp});
  </insert>
  
  
</mapper>